.edit-subtitle {
  width: 40%;
  max-height: 90vh;
  border-right: 1px solid #00000017;
  padding-inline: 1em;
  overflow: auto;
  
  & > div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding-top: 1em;
  }

  & hr{
    margin-block: 1em;
    opacity: .151;
  }

  & button {
    text-align: start;
    padding: 1em;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 200ms;
    
    display: flex;
    align-items: center;
    gap: 0.4em;
    
    &:enabled{
      color: dimgray;
      cursor: pointer;
    }

    &:disabled{
      color: #bebbbb;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: #037ccd0f;
      color: #0098fd;
    }

    & ion-icon{
      --ionicon-stroke-width: 51px;
      font-size: 1.1rem;
    }
  }

  & > button{
    margin-left: auto;
    margin-block: 2em;
  }

  & > ul + button{
    margin-block: 1em;
  }
}
