.edit-subtitle {
    width: 40%;
    height: 100vh;
    border-right: 1px solid #00000048;
    padding: 1.5em 3em;
    padding-right: 1.5em;

    & button{
        width: 100%;
        text-align: start;
        padding: 1.3em 1em;
        font-weight: 600;
        color: dimgray;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: rgba(3, 124, 205, 6%);
            color: rgb(0 152 253);
        }
    }
}