*{
  font-family: 'Quicksand', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

@media (max-width: 89.3125em) {
  html{
    font-size: 14px;
  }
  
}

/* @media (max-width: 46.875em) {
  html{
    font-size: 10px;
  }
  
} */

@media (max-width: 45.1875em) {
  html{
    font-size: 12px;
  }
  
}
